html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: rgb(229, 233, 240);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("cityscape.jpg");
}
#topnav {
    font-size: 45px;
    color: rgb(59, 66, 82);
    font-family: Times, serif;
    text-align: center;
    top: 50%;
    left: 50%;
    height: 50px;
    padding-bottom: 0.5%;
}

/* .search_loc {
    text-align: center;
    position: absolute;
    top: 12%;
    left: 50%;
} */

#location {
    font-family: Times, serif;
    box-shadow: 1px 1px 1px black;
    border-radius: 25px;
    outline-width: 0;
    border: none;
    top: 50%;
    width: 450px;
    height: 40px;
    text-align: center;
}

#map {
    height: 70%;
    width: 90%;
    margin: 5px auto;
}

#analytics {
    background-color: rgb(229, 233, 240);
    margin: 5px auto;
    width: 90%;
    height: 22%;
}