html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: rgb(229, 233, 240);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("cityscape.jpg");
}
#topnav {
    font-size: 300%;
    color: white;
    font-family: Times, serif;
    padding-left: 2.5%;
    height: 50px;
    margin: 0 auto;
    padding-top: 0.5%;
}

#map {
    height: 82.5%;
    width: 95%;
    top: 2.5%;
    margin: 0px auto;
    -webkit-box-shadow: 0 0 5px rgb(46, 52, 64);
        box-shadow: 0 0 5px rgb(46, 52, 64);
}

#search_loc {
    position: absolute;
    top: 2%;
    right: 2.5%;
} 

#location {
    font-family: Times, serif;
    font-size: 125%;
    outline-width: 0;
    border: none;
    top: 50%;
    width: 450px;
    height: 35px;
    text-align: center;
    -webkit-box-shadow: 0 0 5px rgb(46, 52, 64);
        box-shadow: 0 0 5px rgb(46, 52, 64);
}

#info {
    font-family: Times, serif;
    font-size: 115%;
    text-align: center;
    color: whitesmoke;
    padding-top: 3%;
}